# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Highscore (optional) - can be kept, but ignore for typical contributors
highscore.json

# Build outputs
dist/
build/
*.spec
distpkg/
*.zip
*.tar.gz
